<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>

<body>
    <h1>User panel</h1>
    <h3>Welcome {{ user.first_name }}</h3>
    <ul>
        <li><a href="{% url 'users_app:logout' %}">Close session</a></li>
        <li><a href="{% url 'users_app:update_password' %}">Update password</a></li>
        <li><a href="">Update data</a></li>
    </ul>
</body>

</html>