<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book list by category</title>
</head>

<body>
    <h1>Book list by category</h1>
    <p>
    <form method="get">
        {% csrf_token %}
        <input type="text" id="category_id" name="category_id" placeholder="Category name">
        <button type="submit">Search</button>
    </form>
    </p>
    <ul>
        {% for book in books %}
        <li>{{ book }} - {{ book.category }}</li>
        {% endfor %}
    </ul>

</body>

</html>